/* toggel */
.app {
  background-color: #f0f0f0; /* Light mode background color */
  color: #333; /* Light mode text color */
  transition: background-color 0.3s ease;
}

.app.dark {
  background-color: #333; /* Dark mode background color */
  color: #f0f0f0; /* Dark mode text color */
}

.toggle-button {
  background-color: #f0f0f0; /* Light mode button background color */
  color: #333; /* Light mode button text color */
  padding: 8px 16px;
  border: none;
  border-radius: 30%;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
  background-color: #333; /* Button background color on hover */
  color: #f0f0f0; /* Button text color on hover */
}

.app.dark .toggle-button {
  background-color: #333; /* Dark mode button background color */
  color: #f0f0f0; /* Dark mode button text color */
}
